{% extends "base.html" %}
{% block content %}
<h1>Listado de Requerimientos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Solicitante</th>
        <th>Departamento</th>
        <th>Fecha</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th>Acciones</th> <!-- Agregar columna de acciones -->
    </tr>
    {% for requerimiento in requerimientos %}
        <tr>
            <td>{{ requerimiento.id }}</td>
            <td>{{ requerimiento.nombre }}</td>
            <td>{{ requerimiento.solicitante }}</td>
            <td>{{ requerimiento.departamento }}</td>
            <td>{{ requerimiento.fecha }}</td>
            <td>{{ requerimiento.get_prioridad_display }}</td>
            <td>{{ requerimiento.estado }}</td>
            <td>
                <a href="{% url 'editar_requerimiento' requerimiento.id %}">Editar</a> | 
                <a href="{% url 'eliminar_requerimiento' requerimiento.id %}">Eliminar</a> | 
                <a href="{% url 'agregar_detalle_requerimiento' requerimiento.id %}">Agregar Detalle</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7">No hay requerimientos.</td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'crear_requerimiento' %}">Crear Nuevo Requerimiento</a>

{% endblock %}
